@tailwind base;
@tailwind components;
@tailwind utilities;


/* mobile - default */
@font-face {
  font-family: "Inter";
  src: url("assets/inter/Inter-Regular.otf") format("truetype");
}



html {
  box-sizing: border-box; /*lets include the border and padding as well to determine the width*/

  /* set overall font */
  font-size: 1.3rem;
  font-family: "Inter";
}

*,
*::before,
*::after {
  box-sizing: inherit; /* always border-box - easier to calculate */
}

body {
  /*some browsers have padding some margins */
  margin: 0;
  padding: 0;
  background-color:#F8F9FA;
}

li {
  list-style: none;
}

.top-section {
  /* transform: rotate(15deg); */
}

.header-text{
  font-family: "Inter-bold";
}

.top-banner-pink {
  height: 25vh;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);*/ 
  background-size: repeat;
  background-image: url("./img/pink-bg-with-thunder.png");
}

.rotate-this{
  transform: rotate(15deg);
}

.clip-this {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 33%);
}
/* for tablets */

@media (min-width: 640px) {
  .top-banner-pink {
    height: 40vh;
  }
}

/* for desktops */

@media (min-width: 1024px) {
  .top-banner-pink {
    height: 50vh;
  }
}

