@tailwind base;
@tailwind components;
@tailwind utilities;


/* mobile - default */
@font-face {
  font-family: "Inter";
  src: url("assets/inter/Inter-Regular.otf") format("truetype");
}



html {
  box-sizing: border-box; /*lets include the border and padding as well to determine the width*/

  /* set overall font */
  font-size: 1.3rem;
  font-family: "Inter";
}

*,
*::before,
*::after {
  box-sizing: inherit; /* always border-box - easier to calculate */
}

body {
  /*some browsers have padding some margins */
  margin: 0;
  padding: 0;
  background-color:#FFFFFF;
}

li {
  list-style: none;
}

.top-section {
  /* transform: rotate(15deg); */
}

.header-text{
  font-family: "Inter-bold";
}

.top-banner-pink {
  height: 25vh;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);*/ 
  background-size: repeat;
  background-image: url("./img/pink-bg-with-thunder.png");
}

.rotate-this{
  transform: rotate(15deg);
}

.clip-this {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 33%);
}

/* for tablets */

@media (min-width: 640px) {
  .top-banner-pink {
    height: 40vh;
  }
}

/* for desktops */

@media (min-width: 1024px) {
  .top-banner-pink {
    height: 50vh;
  }
}

.creator-profile{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--i) * 0.012s);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
.mobile-burger, .bm-burger-button{
    display: none;
  }
}